/* Import Rubik Bubbles font */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

/* Rest of your CSS styles */

.animals-page {
  padding-top: -1px; /* Adjust this value based on your header height */
  padding-bottom: 60px; /* Adjust this value based on your footer height */
}

/* Rest of your CSS styles */

.animals-page {
  padding-top: -1px; /* Adjust this value based on your header height */
  padding-bottom: 60px; /* Adjust this value based on your footer height */
}

/* Use Rubik Bubbles font for the entire page */
body {
  font-family: 'Rubik Bubbles';
}

.massive-image-section {
  position: relative;
  height: 450px; /* Adjust this value based on your image height */
  background-image: url('../images_animals/Tiger-1.jpg'); /* Replace with your image URL */
  background-size: cover;
  background-position: center;
}

.image-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.fun-facts-section {
  font-size: 18px; /* Decrease font size for better readability */
  padding: 20px 0;
  text-align: center; /* Center the content horizontally */
  background-color: #fff;
}

.fun-facts {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.fun-fact {
  flex: 0 1 calc(33.33% - 20px);
  margin: 0 10px;
  text-align: center;
  color: #652b53;
  font-weight: bold; /* Make the font bolder */
}

.events-section {
  text-align: center;
  padding: 20px 0;
  background-color:  #652b53;
}

.events {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #F7E5C8;
}

.event {
  cursor: pointer;
  color: #F7E5C8;
}

.event img {
  width: 200px;
  height: 150px;
  margin-bottom: 10px;
}

.event p {
  border: none;
}
