.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 220px; /* Increase width to accommodate sidebar content */
  background-color: #F7E5C8;
  overflow-y: auto;
  font-weight: 500;

}

.sidebar-header {
  padding: 10px;
  background-color: #F7E5C8;
  color: #652b53;
}

.sidebar-title {
  margin: 0;
}

.sidebar-list {
  list-style: none;
  padding: 0;
  margin: 0;

}

.sidebar-item {
  margin-bottom: 10px;
}

.sidebar-link {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #652b53;
  font-size: 20px;
  font-weight: 500;
}

.content {
  margin-left: 220px; /* Adjust this value based on the width of your sidebar */
}